[2013-04-17 09:13] digitalhoax opened #5 "Error on parse"
I am getting this error with 0.1.5:

./convert.rb
Parsing filename : en.lproj/Localizable.strings
./convert.rb:32:in `match': invalid byte sequence in US-ASCII (ArgumentError)
        from ./convert.rb:32:in`match'
        from ./convert.rb:32:in `block (2 levels) in load_strings'
        from ./convert.rb:29:in`each_line'
        from ./convert.rb:29:in `block in load_strings'
        from ./conv

[2013-09-05 15:24] #5 closed, assigned to nobody

[2013-10-18 12:41] netbe opened #9 "Changing name of gem and project"
Right now the name is **csv2strings** which would not make sense anymore with the Android, PHP and JSON support coming up.
- Moving to **csvconverter** or something else
- Also renaming the repo accordingly.

[2013-10-18 12:46] netbe opened #10 "Add documentation"
- Update doc of code

See http://rdoc.info/github/netbe/CSV-to-iOS-Localizable.strings-converter/master/frames

[2013-10-22 16:01] ekurutepe opened #12 "strings2csv command crashes"
I have installed by gem install csv2strings on ruby 1.9.3.

When I try to run a strings file through strings2csv I get this stack dump:

[code]

The .strings file exists where it is supposed to. I have also tried using -i option with and without the equals sign. All with the same results.

Thanks a lot,
Engin.

[2013-10-22 20:46] #12 closed, assigned to nobody

[2013-10-23 09:09] ekurutepe opened #14 "If Localizable.strings files have different sets of keys the output gets messed up badly"
In case of an app with many localizations some of them out of date, missing some keys and translations, using strings2csv to combine all localizations in a big csv results in a messed up csv. In the combined file, most of the keys don't have any translations, and some keys have all translations taken from the same Localizable.strings file.

[2013-10-29 23:35] #14 closed, assigned to nobody

[2013-11-07 13:23] SanggeonPark opened #18 "Cannot run rb script"
OS : OS X 10.8.5
ruby : 1.8.7 (2012-02-08 patchlevel 358) [universal-darwin12.0]

park$ date '+%F  %r'
2013-11-07  02:19:36 PM
park$ git status
# On branch dev_Project-371

nothing to commit, working directory clean
park$ make translate
bundle exec csv2strings
/Users/park/Project/vendor/bundler/ruby/1.8/bundler/gems/mirror-CSV-to-iOS-Localizable.strings-converter-47ade2ded32c/lib/csvconverter.rb:4

[2013-12-01 17:23] netbe opened #20 "download': uninitialized constant Command::GoogleDoc (NameError)"
Affected version: 0.2.2.
Solution: Use master branch for now

[2013-12-09 13:51] netbe opened #21 "Github csv support"

[2013-12-09 13:53] #20 closed, assigned to nobody

[2013-12-11 13:47] nschum opened #23 "Gem doesn't install cleanly"
Installing the gem on OS X 10.9:

[code]

ends with:

[code]

and running `csv2strings` throws:

<pre>
/Library/Ruby/Gems/2.0.0/gems/csv2strings-0.2.2/lib/csvconverter/commands/csv2strings_command.rb:39:in `csv2strings': uninitialized constant CSV2StringsCommand::CSV2Strings (NameError)
    from /Library/Ruby/Gems/2.0.0/gems/thor-0.18.1/lib/thor/command.rb:27:in `run'
    from /Library/Ruby/Gems/2

[2013-12-11 19:31] #23 closed, assigned to nobody

[2013-12-11 19:32] #18 closed, assigned to nobody

[2014-02-04 20:19] jkmassel opened #25 "Crashing when run"
/Library/Ruby/Gems/2.0.0/gems/csv2strings-0.2.3/lib/csvconverter/strings2csv.rb:41:in `strip!': invalid byte sequence in UTF-8 (ArgumentError)
    from /Library/Ruby/Gems/2.0.0/gems/csv2strings-0.2.3/lib/csvconverter/strings2csv.rb:41:in`parse_dotstrings_line'
    from /Library/Ruby/Gems/2.0.0/gems/csv2strings-0.2.3/lib/csvconverter/strings2csv.rb:33:in `block (2 levels) in load_strings'
    from

[2014-03-12 23:58] #25 closed, assigned to nobody

[2014-04-14 21:27] netbe opened #29 "Support for multiple sheets in csv file"

[2014-04-14 21:31] netbe opened #30 "Option to generate defines on an iOS project"
Same as https://github.com/sinnerschrader-mobile/iOS-resource-helper

[2014-04-14 21:35] #21 closed, assigned to nobody

[2014-04-14 21:36] #9 closed, assigned to nobody

[2014-04-14 23:01] #10 closed, assigned to nobody

[2014-04-22 15:39] SanggeonPark opened #31 "Argument to download Google Doc is not working correctly"
'--output-filename' argument of 'babelish csv_download' is treated as 'worksheet_index' for 'GoogleDoc downloader'

[2014-04-24 20:59] netbe opened #33 "configuration file is not read anymore"
required options prevent from loading options from yaml file

[2014-04-29 18:05] netbe opened #34 "split commands to different gems"
See http://opensoul.org/2012/05/30/releasing-multiple-gems-from-one-repository/

[2014-04-29 18:09] #31 closed, assigned to nobody

[2014-05-07 12:19] #33 closed, assigned to nobody

[2014-05-07 12:19] #29 closed, assigned to nobody

[2014-05-08 16:17] netbe opened #35 "support new google spreadsheet"
see https://github.com/gimite/google-drive-ruby/issues/84

[2014-05-12 22:50] netbe opened #36 "Update config file"
- [x] change location of token: ~/.ruby_google_drive.token to .babelish.token
- [x] update infos about config file (options seem to be _ instead of -

[2014-06-04 22:47] netbe opened #37 "support xliff format"

[2014-07-18 00:13] #35 closed, assigned to nobody

[2014-07-18 00:13] #36 closed, assigned to nobody

[2014-07-24 06:16] netbe opened #40 "Look at .stringsdict support"
see article http://www.objc.io/issue-9/working-with-strings.html

[2014-09-24 13:38] #30 closed, assigned to nobody

[2014-10-08 20:08] netbe opened #43 "Support for comments and sections"
Usual format of google spreadsheet:
keys, english, german, state_column, comments

**csv2strings**
* [x] put comments above translation
* [x] macro, comment should go to macro `NSLocalizedStringFromTable(@"#{key}",@"#{table}",@"{comment}")`

**strings2csv**
* [x] extract comment to new column

[2014-12-03 16:06] powtac opened #46 "Can not download from Google"
When I run `sudo babelish csv2strings -i "iOS_Translations" --fetch --verbose` I get a 400 error from Google.

[code]

The funny thing is, when I change the filename to a not existing file like, "iOS_Translations X" the output is `Fetching csv file iOS_Translations X from Google Drive
Could not download the requested file: iOS_Translations X`

So it looks like I set up the token thing correctly.

[2014-12-04 13:27] #46 closed, assigned to nobody

[2014-12-11 14:26] benebun opened #51 "android2csv: HTML tags are removed/not parsed correctly"
HTML tags seem to get removed when converting to csv.

E.g.:
Android XML:
[code]

Through android2csv becomes:

[code]

missing

[code]
and generating what seems to be an array with too many quotes.

If the translation consists of only an html tag, the whole tag gets removed and replaced with empty quotes.

As far as I know html tags are allowed in Android's localization XML files.

[2014-12-12 10:40] benebun opened #52 "csv2android doesn't escape HTML correctly"
Unfortunately, it seems that csv2android:

1. doesn't escape HTML in the resulting XML and
2. escapes quotes with backslashes

which makes it impossible to convert XML to CSV and back again to XML (presumably a common translation workflow).

Original XML with correctly escaped HTML:

[code]

through android2csv results in:

[code]

Converting it back to XML results in:

[code]

Note the non-escape

[2014-12-23 12:57] Profios opened #53 "Strings, string definition not split with whitespace fails to parse"
When having a Localizable.strings file which does not have whitespace binding name and definition, fails to parse. E.g. "name"= "definition"; fails to parse, while "name" = "definition"; succeeds.

[2015-01-28 15:06] netbe opened #54 "Generate sample configuration file command"
Command to generate a default configuration file for projects

[2015-03-13 08:26] borut-t opened #55 "CSV column separator style"
For some reason Pages and Word exports to CSV with semicolon ";" column separator. On the other hand Google Docs exports with comma "," column separator.

Is it possible to define custom column separator?

[2015-03-13 08:48] netbe commented on #55
Right now it is not possible, but adding an option for separator could be done.

See https://github.com/netbe/Babelish/blob/master/lib/babelish/csv2base.rb#L92

I do not plan to do it soon, but feel free to do a pull request for it :)

[2015-03-13 08:52] borut-t commented on #55
That would be really great. I have a csv file that already contains comma characters in translation strings. When I replace ";" with "," your tool breaks becase there are to many columns in csv (obviously).

How can I do it myself so I can use it in project today? Is it possible to update gem today? Can I help?

[2015-03-13 10:22] netbe commented on #55
Fork the project and create a pull request.
- pass an option here like `separator` https://github.com/netbe/Babelish/blob/master/lib/babelish/commandline.rb#L23 default would be ,
- and in here  https://github.com/netbe/Babelish/blob/master/lib/babelish/csv2base.rb#L92 replace , by ;
- write a test case to make sure you didn't break anything and it is working

[2015-03-13 12:05] borut-t commented on #55
Ok, I've made some changes and requested pull request: https://github.com/netbe/Babelish/pull/56

Could you check it out?

[2015-03-16 09:49] borut-t commented on #55
Just checking... Could you review and merge pull request so I can use it in my development team?

[2015-03-16 12:29] netbe commented on #55
Included in 0.3.4

[2015-03-16 12:29] #55 closed

[2015-03-16 12:40] netbe commented on #55
@borut-t please use 0.3.4

[2015-03-16 12:56] borut-t commented on #55
Nice, thank you!

[2015-03-17 09:01] borut-t opened #57 "Duplicate localisation keys"
Because of the differences handling localisation files between platforms (iOS, Android) I've duplicated keys in csv file for some translations (handling translations with parameters) and than added excluded_states property to config file (iOS, Android) to exclude the ones that does not go with selected plaftform.

e.g.:
[code]

Config in iOS project defines ```excluded_states: ["Android"]```.
Conf

[2015-03-17 09:19] borut-t commented on #57
Forget it. It works like I want it to be working. I've been testing on old csv file.

[2015-03-17 09:19] #57 closed

[2015-03-26 09:17] fabioknoedt opened #58 "As a suggestion: .csv or Google Docs example"
Hi @netbe,

Thanks for the nice library!
As a suggestion, could you add a .csv file and/or Google Docs file as example?
It would be nice to have a .csv file as example and how to call it to generate .strings files, for example.

I was wondering how to escape some rows and I couldn't find a way.

Cheers!

[2015-03-26 09:53] netbe commented on #58
Hi,

I am not sure if this helps but on the test data folder there are some examples like: https://github.com/netbe/Babelish/blob/master/test/data/test_data_multiple_langs.csv
And to generate a .strings file, the command would be:
[code]

The command should tell you what arguments are required.

Hope that helps!

[2015-03-26 10:07] fabioknoedt commented on #58
It indeed helps! I would provide a more complex one, but this helps already.
It would be super if you write about this example in the README :) for other people.
Let me know if you don't have time and I can also do it and create a pull request.

Btw, for someone that lands here:
I could escape rows using the configuration:
1. In the row I want to escape I write **ESCAPE** (for example) in the colu

[2015-03-26 10:15] netbe commented on #58
@fabioknoedt pull requests are, indeed, very welcome :)

FYI I usually don't use the command arguments but use a config file on project, I don't know if you have seen this section (example file: https://github.com/netbe/Babelish/blob/master/.babelish.sample )

[2015-03-26 10:34] fabioknoedt commented on #58
Done. I hope it's alright for you. If not, change anything you would like to.
Thanks man!

[2015-03-26 10:34] #58 closed

[2015-04-09 13:20] netbe opened #60 "Upgrade Google APIs dependencies"
Google changes its apis, so need to upgrade soon.
https://github.com/gimite/google-drive-ruby before 20/04/2015

[2015-04-10 13:33] koszcz commented on #60
+1

[2015-04-21 12:50] #60 closed

[2015-04-21 13:20] #53 closed

[2015-04-21 16:58] netbe commented on #43
ignore sections for now, don't really need it since keys are formatted with domains

[2015-04-21 20:23] jjochen opened #66 "The Doclist API has been shut down"
Suddenly I get the following error message when trying to download from google drive:

[code]

[2015-04-22 10:08] #43 closed

[2015-04-22 10:08] #54 closed

[2015-04-22 19:33] netbe commented on #66
@jjochen sorry should be resolved in next release 0.4.0, which should be released at the worst case end of the week. In the meantime can try using the code in master branch (let me know if that works)

[2015-04-23 00:28] netbe commented on #66
See version 0.4.0

[2015-04-23 00:28] #66 closed

[2015-04-23 00:30] netbe opened #67 "Change Xcode macros to constants"
https://github.com/robocat/MiawKit style with quick documentation preview including translations.

[2015-04-23 00:30] netbe opened #68 "Add Swift enums/constants option"

[2015-04-23 00:31] netbe opened #69 "Add tests for Google Drive API"
use VCR to capture requests

[2015-04-23 09:50] jjochen commented on #66
Wow, that was fast. Thank You!!!

[2015-05-22 21:20] Neoklosch opened #73 "android2csv: CDATA content are removed"
In an Android xml string file it's possible that an entry contains a CDATA block.

An example for that:
`<string name="html"><![CDATA[<p>Text<p>]]></string> `

After running the converter, the CDATA block is removed in the resulting csv.

result:
`html,<p>Text<p>`

If you convert the csv back to a xml the CDATA block is still missing and the xml file is completely wrong and it end in an error in a

[2015-05-22 21:26] Neoklosch opened #74 "Better xml parser error handling"
Catch xml parser in the android2csv command.
If I try to convert an malformed xml file i got the following error:

	/home/neoklosch/.rvm/rubies/ruby-2.1.5/lib/ruby/2.1.0/rexml/parsers/baseparser.rb:340:in `pull_event': Missing end tag for 'p' (got "string") (REXML::ParseException)
	Line: 10
	Position: 649
	Last 80 unconsumed characters:
	from /home/neoklosch/.rvm/rubies/ruby-2.1.5/lib/ruby/2.1.0/r

[2015-05-22 21:28] Neoklosch opened #75 "Better file not exists error handling"
Similar to the xml error problem I got an error if the file I want to convert doesn't exist.
I got the following error:

	$ babelish android2csv --filenames=/tmp/android.xml --csv-filename=/tmp/android_run2.csv --headers=Vars German

	/home/neoklosch/ruby-projects/Babelish/lib/babelish/android2csv.rb:11:in `load_strings': No such file or directory (Errno::ENOENT)
	from /home/neoklosch/ruby-project

[2015-05-30 11:37] mg6maciej opened #76 "XMLs for Android do not have quotation marks escaped"
Apostrophes `'` are not escaped with backslash `\`.

The official documentation: http://developer.android.com/guide/topics/resources/string-resource.html#FormattingAndStyling

[2015-06-20 23:13] netbe commented on #69
@potogold what's up?

[2015-06-20 23:13] potogold commented on #69
@netbe I don't understand

[2015-06-20 23:14] netbe commented on #69
@potogold nevermind

[2015-06-20 23:14] potogold commented on #69
@netbe I don't understand

[2015-10-12 11:03] MiaShopgal opened #77 "Operation not permitted"
after upgrade mac os to el Capitan
```-bash: babelish: command not found```

install babelish :
```sudo gem install babelish```

[code]

[2015-10-12 11:05] MiaShopgal commented on #77
solution :
```sudo gem install -n /usr/local/bin/ babelish```

[RF:Operation not permitted - /usr/bin/xcodeproj #3692](https://github.com/CocoaPods/CocoaPods/issues/3692#issuecomment-113847612)

[2015-10-12 11:06] #77 closed

[2015-11-09 18:07] #51 closed

[2015-11-09 18:07] #52 closed

[2015-11-09 18:30] netbe commented on #76
I believe this issue is fixed by #72

[2015-11-09 18:30] #76 closed

[2015-11-09 18:44] netbe opened #80 "CSV2JSON outputs .js files"
I don't know if this intended

[2016-01-11 14:16] borut-t opened #82 "Download issue"
I get "Could not download the requested file <file_id>" when firing csv_download command.

I've tried to set gDocs file name as "gd_filename" and also with absolute path but does not work. .babelish.token file has been successfully generated.

Is there something else I should set in config file beside "gd_filename", "output_filename" and "sheet" ?

Thanks

[2016-01-11 14:24] borut-t commented on #82
I've figured it out. I have to set actual file name as "gd_filename".

[2016-01-11 14:24] #82 closed

[2016-01-12 07:37] borut-t opened #83 "Comments support on android"
Is there a way to integrate comments into generated files on android like it already works on iOS ?

Thanks!

[2016-01-12 10:05] netbe commented on #83
Support for Android could be added, I don't know how comments are formatted in Android xml files, but if you know it, one starting point to implement it (CSV to android) would be `get_row_format` https://github.com/netbe/Babelish/blob/master/lib/babelish/csv2android.rb#L27-L29

For the other way around, it would be to modify https://github.com/netbe/Babelish/blob/master/lib/babelish/android2csv.rb

[2016-01-12 11:32] borut-t commented on #83
I've just made a pull request #84.

[2016-01-19 09:24] borut-t opened #85 "Google docs SSL_connect issue on windows hosts"
Hello,

we are having issues running Babelish when "fetch" property is set to "true".
This is the error we get:

[code]

We've searched for solution with no luck. Could you take a look and suggest what to do?

Thanks!

[2016-01-19 11:24] netbe commented on #85
@borut-t  could be related to ruby itself, see https://coderwall.com/p/ouseaa/

[2016-01-19 11:57] borut-t commented on #85
@netbe It looks like this solution is Mac only. What about windows?

[2016-01-19 13:38] netbe commented on #85
@borut-t no idea, but I guess downloading the cert and figuring out where to put it on windows will make this work

[2016-01-19 13:41] borut-t commented on #85
@netbe You are probably right. Thanks!

[2016-01-19 13:41] #85 closed

[2016-01-29 11:46] #83 closed

[2016-02-26 19:31] romk1n opened #86 "problem converting using cvs2strings"
Hi, i am trying to get a header with all the macros for localization in our project.
1. I took our localization strings and used babelish to create cvs file. by running `babelish strings2csv -i Localizable.strings`
2. Without modifications i know want to make a conversation back using `babelish csv2strings -i translations.csv -L English:en` however i am getting the following error

[code]

[2016-03-02 18:27] netbe commented on #86
Could you post the Localizable.strings that you had?

[2016-03-09 23:48] romk1n commented on #86
@netbe sorry for the late response. for security reason's i cannot paste the hole `.csv` but here the snippet

[code]

[2016-03-10 00:01] romk1n commented on #86
also if that helps i have ruby version

[code]

[2016-03-14 23:20] netbe commented on #86
@romk1n the resulting Localizable.strings is wrong missing the `Comments` in header I guess.
Quick fix : Change the translations.csv file header by `Variables,English,Comments`

I am going to look at the generation strings2csv

[2016-03-15 00:39] #86 closed

[2016-03-15 00:49] #80 closed

[2016-03-15 01:14] netbe commented on #86
Fixed in 0.5.1

[2016-08-13 10:10] MarcinMoskala opened #89 "Special characters on google"
Hey,

i want to have link on string file, but when i leave <a href="sherif-activity://sms-information-activity"> to google spreadsheets then Babelish translate it to <a href=\"sherif-activity://sms-information-activity\">. Is there a way to leave the special character like a " make it Babelish " after translation (like a \" in java string or in regex)?

[2016-08-15 21:06] netbe commented on #89
Hi @MarcinMoskala ,

Is it on the Android part? Could it be related to https://github.com/netbe/Babelish/pull/79?
Also would it make sense to remove escaping completely for Android? or leave it as option?

Note: The escaping is common to all converters.
see https://github.com/netbe/Babelish/blob/master/lib/babelish/csv2base.rb#L82-L89.

[2016-09-20 13:08] netbe opened #91 "Feature create fastlane plugin"
It makes sense to embed that in fastlane, and a good way that the team as it installed. check https://docs.fastlane.tools/plugins/CreatePlugin/

[2016-10-05 13:34] netbe opened #92 "Dockerise usage"

[2016-10-08 09:59] andela-ooranagwa commented on #92
Could you provide some more information for this issue. I would want to work on it.

[2016-10-10 00:18] tkbky commented on #75
@netbe I can help out on this. I'm thinking of rescuing `Errno::ENOENT` and output the error message to `STDERR`, WDTY?

[2016-10-10 12:57] netbe commented on #92
Basically it would be to wrap babelish to a docker container, so people can use it via docker without having ruby installed on their machine.

So needs to be done:

- create dockerfile
- documentation how to run it: i.e. `docker run netbe/babelish csv2strings...` or something like that

[2016-10-10 13:00] netbe commented on #75
Yep that would be great, ideally the messages output should be done in the `commandline` file I think

[2016-10-11 20:42] #75 closed

[2016-10-31 21:25] #92 closed

[2016-11-18 08:12] Saulenco opened #95 "config file keys_column"
I added the .babelish.config file and the keys_column:2 because the keys in my google drive file starts from 2nd row.

this is my sructure:
`Category | Key | English | Notes`

Run `babelish csv2strings -i "Project Language" -L  English:en  --fetch `

the .string file looks like this
"category1" = "";
"category2" = "";
....

Did i miss something ?

[2016-11-18 08:22] netbe commented on #95
Hi,

if you're using the config file you don't need to pass arguments via command line.
Your config file could look like this:

[code]

By the way is `Project Language` the filename (path) to your csv file?

[2016-11-18 08:49] Saulenco commented on #95
"Project Language" is the file name on Google Drive.

 after adding the configs as you show and run `babelish csv2strings` i get an error  `in `initialize': wrong value of filename: nil` also tried
[code]
but i get the same error

[2016-11-18 09:29] Saulenco commented on #95
Got it the main problem was that my babelish config file was named `.babelish.config` rename it to `.babelish` run `babelish csv2strings` and problem solved.

Thanks again François

[2016-11-18 09:48] #95 closed

[2017-02-24 10:49] #34 closed

[2017-02-24 10:49] #37 closed

[2017-02-24 10:49] #40 closed

[2017-02-24 10:49] #67 closed

[2017-02-24 10:49] #68 closed

[2017-02-24 12:17] sroik opened #96 "Can I pass .babelish file as parameter ?"

[2017-02-24 12:34] #96 closed

[2017-02-25 02:46] netbe commented on #96
option -c

[2017-05-19 13:55] Fl0p commented on #40
👍
Vote-Up for this reopen.

[2017-05-22 02:36] netbe commented on #40
@Fl0p I would need some help to support it, I don't see how the csv structure would be suitable to have the `.stringsdict`, do you have something to start with?

[2017-05-22 16:09] Fl0p commented on #40
@netbe i suppose it is possible to create some kind on naming convention for CVS files.
So that every plural form (zero, one, two, few, many, and other) will be a separated string in csv.

[code]

So it will fine for converting in ```.stringsdict``` for iOS as well as ```.xml``` for Adnoid

[2017-05-24 02:07] netbe commented on #40
@Fl0p I don't have any time now to work on that, and would need to look again to .stringsdict structure.

But if you feel like contributing I can support with the code base.

[2017-05-30 20:20] tylerjames opened #98 "Choose which source file to extract comments from if they differ"
First: This tool is great. I hate strings files and handling localization on iOS, it's absurdly bad, but this is making it a bit better.

I have English and Japanese strings files. My English file contains my (the developer) comments. The Japanese file contains some comments added by the translator, or at least the person responsible for sorting out the translation.

When I run:
`babelish strings2

[2017-05-31 04:49] netbe commented on #98
@tylerjames I never had this case, but I would expect the comments to be the same on both files since strings files are usually manipulated by developers.

Besides if you take `genstrings` command it will populate both files with same comment from `NSLocalizableString(, comment: )`.

That said a feature could be to merge the comments or as you said specify which file to extract it from.

[2017-05-31 14:11] tylerjames commented on #98
Hi,

Yeah I realize this is probably a pretty edge case. I should really get my translation guy to keep his comments separate.

I might be able to just switch the order of the `en` and `ja` files and have it pull comments from the English.

[2018-01-10 13:09] denis-stepuschik opened #101 "csv2android do not use language region"
Please change line 16 to this:

`region = language.region.to_s.empty? ? "" : "-#{language.region}"`
`filepath = Pathname.new(@file_path) + "values-#{language.code}#{region}" + output_name`

[2018-01-10 16:00] netbe commented on #101
@denis-stepuschik  can you create a PR please?

[2018-02-16 06:24] GaganMeesala opened #102 "How to pass a file to convert json2csv"
Conversion of json file to csv.

Tried
babelish json2csv  1.json
babelish json2csv  "1.json"

[2018-02-27 19:05] netbe commented on #102
Hi,

sorry for the late replied, have you tried:
[code]

The best is to use a configuration, the rest of documentation can be found here :
https://github.com/netbe/Babelish/wiki/How-to-Use

[2018-03-08 08:47] BlackHornet opened #105 "csv2android: default values folder"
I think it would be good, if you can configure babelish with a "default language" so the language code is not added to the folders name. Like a fallback language, if everything other fails.

for example:
[code]

Current created folders by babelish:
[code]

Expected folders to be created:
[code]

Kind regards

[2018-03-08 12:07] netbe commented on #105
@BlackHornet well the default_lang option already exist. I have no opinion on this change as I don't use it for android.

Here's the code to change https://github.com/netbe/Babelish/blob/master/lib/babelish/csv2android.rb#L12-L17

Feel free to do a PR including tests :)

[2018-03-08 12:08] #102 closed

[2018-03-08 12:20] GaganMeesala commented on #102
Tried, still not working:

Error:

ERROR: "babelish json2csv" was called with arguments ["--filename=~/Desktop/1.json"]
Usage: "babelish json2csv"

[2018-03-08 12:31] GaganMeesala opened #106 "convert json to csv"
babelish json2csv --filename=~/Desktop/1.json

Tried, still not working:

Error:

ERROR: "babelish json2csv" was called with arguments ["--filename=~/Desktop/1.json"]
Usage: "babelish json2csv"

[2018-03-08 18:44] netbe commented on #106
So, I had a closer look, and add some documentation over here:

https://github.com/netbe/Babelish/wiki/Examples

In the process, I found one issue which is fixed in this new release:

https://github.com/netbe/Babelish/releases/tag/0.5.4

Let me know if that works for you.

[2018-03-28 20:56] #106 closed

[2018-10-10 08:54] sonicdebris opened #108 "Placeholders?"
I am using babelish to generate android xml, ios .string and web json string files from a single csv.

How to handle placeholders? On android I need them to be in the form `%s`, and on ios in the form `%@`.

Is babelish capable of handling this situation? Should I use a specific "placeholder string sequence" to correctly export it to the various formats?

[2018-10-10 08:58] netbe commented on #108
Hi,

Usually I use different csv for each platform so each csv will contain the specific placeholders.

So right now it is not possible to handle this situation, but if you have a good idea to do that, you're welcome to open a PR ;)

[2018-10-10 09:45] sonicdebris commented on #108
We are trying to have one single source of truth for the texts in our app, so I would like to avoid having two places where we have to edit the same string only because the placeholders are different.

I will try and see if I can add what I need. Any pointer on where I could "plug" some check+substitution of the placeholders?

[2018-10-10 20:11] netbe commented on #108
@sonicdebris yes,  that's the place where to deal with it.
which syntax are you going to keep? iOS or Android or something new?

[2018-10-11 03:03] sonicdebris commented on #108
I will check with our iOS and web developers (I work with android) and try to understand which platform's syntax can be translated to the others without loss of information.

On android, we can have `%d` for integers, and `%s$1`, `%s$2` and so on for multiple variables, plus the xml format has some restrictions like some characters that need to be escaped.

So I am leaning towards keeping the andr

[2018-10-13 07:44] sonicdebris commented on #108
Ok, apparently iOS also supports the same format as Android (with `%d`, `%s`, `%1$s`, `%2$d` and so on). On web, our team uses the `{n}` format for the placeholders, but they pointed out that it's just one of the many possible choices, since there's not a single way to handle that.

So I will use the android/ios format in the csv, but I don't know if it's worth to have a specific web format enforc

[2019-01-10 15:13] jndefosse opened #110 "android2csv: add csv_separator as variable to have CSV with semicolons"
Hi !

Great lib ! :)

But can you add the params : csv_separator for Base2CSV? It'll be great.

[2019-02-14 13:28] StasMalinovsky opened #111 "Google Drive refresh token"
How can i update refresh token?
[code]

[2019-02-19 11:37] netbe commented on #111
@StasMalinovsky try removing the token file `rm .babelish.token` and execute the command again. It should prompt for a brand new token.

[code]

[2019-02-21 18:29] #111 closed

[2019-04-24 18:09] gsantoscarrot commented on #86
Traceback (most recent call last):
        14: from C:/Ruby25-x64/bin/babelish:23:in `<main>'
        13: from C:/Ruby25-x64/bin/babelish:23:in `load'
        12: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/babelish-0.5.4/bin/babelish:6:in `<top (required)>'
        11: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/thor-0.20.3/lib/thor/base.rb:466:in `start'
        10: from C:/Ruby25-x64/lib/ruby/g

[2019-04-24 18:14] gsantoscarrot opened #112 "Problem converting csv to xml (android)"
Traceback (most recent call last):
14: from C:/Ruby25-x64/bin/babelish:23:in <main>' 13: from C:/Ruby25-x64/bin/babelish:23:in load'
12: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/babelish-0.5.4/bin/babelish:6:in <top (required)>' 11: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/thor-0.20.3/lib/thor/base.rb:466:in start'
10: from C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/thor-0.20.3/lib/thor.rb:387:i

[2019-04-25 10:46] netbe commented on #112
Hi @gsantoscarrot, can you post the command you are using and csv file?

[2019-04-25 12:51] gsantoscarrot commented on #112
![Screenshot (68)](https://user-images.githubusercontent.com/48450753/56736926-5fd27100-6737-11e9-82ec-64f640f3feaf.png)

[2019-04-25 12:54] gsantoscarrot commented on #112
This file I got from your github Babelish-master\test\data\test_data_with_comments.csv
and the command is: babelish csv2android

[2019-04-25 13:36] netbe commented on #112
Ok I see, well csv2android requires 2 arguments, here it needs the filename to read from  and the languages to use:

[code]

See the documentation here https://github.com/netbe/Babelish/wiki/How-to-Use

[2019-04-25 13:50] gsantoscarrot commented on #112
with this file **test_data_multiple_langs.csv** your command **babelish csv2android --filename=test_data_multiple_langs.csv --langs English:en,German:de, French:fr,Spanish:es** worked, but I tried the same with this file **test_data_with_comments.csv** and not works, what I need to change?

[2019-04-25 14:14] netbe commented on #112
you need to specify filename and the languages contained in your csv that you want to extract to. In my example the csv contain a header with the languages listed like Englishm German etc and then en, de are used to create the output files

[2019-04-25 14:48] gsantoscarrot commented on #112
**In my case, if I remove Comments worked**
**Original file**
variables,English,German,French,Spanish,**_Comments_**GREETINGS,Hello,Hallo,Salut,Buenos dias,**_this is a greeting string_**ANOTHER_STRING,testEN,,,,**_this is another example_**

**file without comments**
variables,English,German,French,SpanishGREETINGS,Hello,Hallo,Salut,Buenos diasANOTHER_STRING,testEN,,,,

**used commands all worked

[2019-05-01 13:46] jschisler commented on #112
You'll need to specify the column that has the comments in it, which I have specified in the config file

[2019-05-06 11:41] netbe commented on #112
@gsantoscarrot as @jschisler said, you have to specify the comments column number with `-C 5` or `--comments-column=5` in your example.

see `babelish help csv2strings` for more info

[2019-05-08 07:50] daniavram opened #113 "How to use `output_basenames`?"
Hi. Is there any way you could update the Wiki with a guide on how to use `output_basenames` specifically? I have a Google Sheet, provided three `output_basenames` in the config file but only the first one is taken into account. Should there be a column in the Google Sheet which tells babelish which row to export to which output file? I am exporting for iOS, by the way.

[2019-05-13 09:16] netbe commented on #113
Hi @daniavram,
the option `output_basenames` is used only if you have multiple sheets in your google spreadsheet.
So given you have in your doc two sheets named and the option `output_basenames` is provided:
[code]
The first sheet will produce files en.lproj/Localizable.strings, de.lproj/Localizable.strings ... for example
The second sheet will produce files en.lproj/info.strings, de.lproj/info.st

[2019-05-13 10:28] #112 closed

[2019-05-13 11:11] daniavram commented on #113
Hi, @netbe,

It does help, indeed. Thank you 🙂
Thing is that i **did** have multiple sheets in my Google Doc, but I also had the `sheet: 0` option in the config file. I removed that and after that `output_basenames` worked as intended

Merci and kudos for this cool tool 😉

[2019-05-13 11:11] #113 closed

[2019-07-09 11:47] borut-t opened #114 "Update google_drive dependency"
Hi @netbe. Could you update `google_drive` dependency version to at least version `2.1.12`.
The reason is that you use `google_drive` version `2.1.7` which internally uses `google-api-client` version `['>= 0.11.0', '< 0.14.0']`. And that is in conflict with [Fastlane](https://github.com/fastlane/fastlane/blob/master/fastlane.gemspec) library which requires version `['>= 0.21.2', '< 0.24.0']`.

[2019-07-25 08:11] borut-t commented on #114
@netbe is there an ETA on when 0.6.0 is released?

[2019-08-02 11:24] netbe commented on #114
Sorry for the delay @borut-t, releasing 0.5.5 to fix the issue

[2019-08-02 11:27] borut-t commented on #114
Thank you 🙌

[2019-08-02 12:05] borut-t commented on #114
@netbe trying to make this work, but I'm still facing an issue:
[code]

I could try downgrading fastlane but I'm not sure if I want to do that 🤔
Do you have any idea?

[2019-08-05 08:06] netbe commented on #114
@borut-t Could you post your gemfile ? I just tryed a simple one and it worked:
[code]

[2019-08-05 08:09] netbe commented on #114
oh ok it resolverd to a previous version:
[code]
I guess I have to increase the version of google_drive to have google-api-client at (~> 0.23)

[2019-08-05 08:25] borut-t commented on #114
@netbe here is my Gemfile:
[code]

[2019-08-06 06:33] borut-t commented on #114
@netbe yeah, can we do that?

[2019-08-06 11:17] netbe commented on #114
@borut-t yes I was writing a test to make sure compatibility with fastlane was ensure. I'll ping you as soon as I am done.

[2019-08-06 11:19] borut-t commented on #114
Thank you!

[2019-08-06 11:28] borut-t commented on #114
Fyi, gems can be installed without an error if I omit the version of the `babelish` gem. It installs 0.5.2. But when I run the script I get the following error:
[code]

So I would say that it wants to load api_client lib but it's too old 🤷‍♂

[2019-08-06 11:41] borut-t commented on #114
I was also able to make it work if I didn't specify a version for `fastlane`. But yet again I don't want to downgrade `fastlane` just to make this work.

Long story short, we need to update dependency version for `babelish` to comply with `fastlane`.

[2019-08-07 12:11] netbe commented on #114
Hi @borut-t, could you try :
[code]
before I release the 0.5.6 ?

[2019-08-07 12:19] borut-t commented on #114
@netbe I can confirm that the following setup works:
[code]

If you can prepare a new release that would awesome.

[2019-08-14 13:21] borut-t commented on #114
@netbe just tested the 0.5.6 version and it works great with the latest fastlane. Thanks 🙌

[2019-08-14 13:21] #114 closed

[2019-08-27 12:52] filippodelfra commented on #101
Hi,
Can we please have this feature merged?
I'm also facing this issue and would be good to have it.

Thanks!

[2019-09-02 09:49] sadiq81 opened #116 "404 Not Found"
14: from /Users/tommysadiqhinrichsen/.gem/bin/babelfish:23:in `<main>'
	13: from /Users/tommysadiqhinrichsen/.gem/bin/babelfish:23:in `load'
	12: from /Users/tommysadiqhinrichsen/.gem/gems/babelfish-0.0.1/bin/babelfish:15:in `<top (required)>'
	11: from /usr/local/Cellar/ruby/2.6.1/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require'
	10: from /usr/local/Cellar/ruby/2.6.1/lib/ruby/2.

[2019-09-02 09:50] sadiq81 commented on #116
Happens every time and on all commands

[2019-09-02 10:59] #116 closed

[2019-10-01 13:00] bernikovich opened #117 "How to use csv_download"
Hi guys.

I'm trying to use `csv_download` function, but there is no documentation about it. I tried multiple formats of setting filename with no luck. Please, help. :)
`babelish csv_download --gd-filename=d/1tD6oG0f_fnVv4ttp17nt1U3xOQ3_v-xxXxXxxxX`

[2019-10-02 18:46] netbe commented on #117
Hi @bernikovich ,

You got the correct syntax, but the filename value is really name of the file in google spreadsheets as it is written, not the shared link

ie: for the file: ios_greenstr_strings
[code]

Hope that helps :)

[2019-10-03 12:00] bernikovich commented on #117
Wow, now I dunno how this works. :)

[2019-10-03 12:00] #117 closed

[2019-11-08 09:19] minphone opened #119 "Fetching csv file from google drive error"
When I add authorization code from my google sheet. But it still shows `Could not download the requested file.`.  When I open this link into incognito mode, it can access everyone. But when I `babelish csv2android`, the error is occurred.

Here my babelish yml file.
[code]

[2019-11-15 20:13] #101 closed

[2019-11-15 20:14] #105 closed

[2019-11-15 20:17] netbe commented on #119
Hi,

is the `filename` value the name of your speadsheet in google drive "my google sheet url" ?
It should not be the link to google drive

[2019-11-24 19:51] borut-t opened #121 "Sign in with Google temporarily disabled for this app"
Trying to authenticate with google to get the token for the first time, it throws an error

<img width="613" alt="Screenshot 2019-11-24 at 20 48 47" src="https://user-images.githubusercontent.com/677166/69500502-05cba100-0efc-11ea-9989-b639d4c9c19c.png">

@netbe can you take a look if your app need some agreement update or smth else in order this to work again?

[2019-11-27 09:02] netbe commented on #121
Hi @borut-t, yes I got it too, I am upgrading the gem, and will publish a new version very soon

[2019-11-27 09:02] netbe commented on #119
related to #121

[2019-11-27 09:03] #108 closed

[2019-12-03 03:25] minphone commented on #119
The issue is solved. Thanks

[2019-12-03 03:25] #119 closed

[2019-12-10 14:28] mihbt commented on #121
Hi @netbe! Do you have an estimative date when the update will be rolled out? Any info is much appreciated.

[2019-12-13 16:05] netbe commented on #121
@mihbt Worst case before christmas, best case next week, sorry guys I am lacking time to finish this :(

[2019-12-19 15:16] pagind92 commented on #121
I updated babelish gem to 0.6.1 version, but it seems there is still the authentication error.

This is the error printed in the terminal

babelish-0.6.1/lib/babelish/google_doc.rb:48:in `authenticate': uninitialized constant Babelish::Keys (NameError)

I try to execute babelish with the token previously generated and also removing it to generate a new one, but no success.

[2019-12-19 16:27] netbe commented on #121
@pagind92 yes I need to remove 0.6.1, a file is missing from the release, I'll ping you as soon as it's done (probably next week)

[2019-12-30 15:58] netbe commented on #121
@pagind92, @borut-t 0.6.2 is out and should be good to go now.

You might see the following screen when requesting a new token, go through it with the link `Go to babelish (unsafe)`

<img width="981" alt="Screenshot 2019-12-30 16 25 34" src="https://user-images.githubusercontent.com/254198/71589513-6bc3cd80-2b25-11ea-9e77-9dc49f77fd86.png">

[2020-01-06 17:23] mihbt opened #123 "Cannot load such file -- babelish/keys"
Hello!

After updating to **0.6.2** I'm receiving the following error when running `babelish`:
[code]
Any pointers on how to solve this issue are much appreciated.

Best regards,
Mihai

[2020-01-07 08:01] borut-t commented on #121
Hey @netbe. I've just updated to version 0.6.2 and I get this error:
[code]

This is the command: `bundle ex babelish csv2strings`

Do you have any idea what's happening?

[2020-01-08 08:03] borut-t commented on #123
Same here. This is a dealbreaker. @netbe can you take a look at this? Version `0.6.2` makes babelish useless 🤷‍♂

[2020-01-10 10:56] NicoDB79 commented on #123
Same issue here with version 0.6.2
Any help will be appreciated, thank you.
Nicola.

[2020-01-10 11:42] netbe commented on #121
@borut-t let me check it yeah I thought I fix the travis job to contain the keys.rb file

[2020-01-10 11:43] netbe commented on #123
related to #121

[2020-01-10 12:30] netbe opened #124 "Ruby version 2.7.0 warnings"
To fix
[code]

[2020-01-10 12:31] netbe commented on #123
Hi @NicoDB79. have 0.6.3 a try!

[2020-01-10 12:31] #123 closed

[2020-01-10 12:32] netbe commented on #121
Hi @borut-t, hopefully 0.6.3 is the one !

[2020-01-10 12:58] NicoDB79 commented on #123
Great! Now it works perfectly!
Thank you,
Nicola.

[2020-01-10 13:22] borut-t commented on #121
Version `0.6.3` works now. Thanks, @netbe.

Although I'm not sure why drive API asks us for full access to all files in the drive? Should it only access Spreadsheets?

[2020-02-10 12:13] 4brunu opened #125 "Support OneDrive"
Hey,
First of all, thanks for this cool library.
I need OneDrive support, because that's what my company uses.
Is this aligned with the interests of this library?
Thanks

[2020-02-10 15:11] netbe commented on #125
Hi @4brunu,

It would make sense to add support for OneDrive, even if right now it's not planned to do so, I'll keep it in mind or if you feel like contributing via a Pull Request, go for it!

[2020-03-31 14:56] raragod opened #126 "Android strings.xml indented with tabs instead of spaces"
In generated strings.xml files for Android, tabs are used instead of spaces for indentation causing Android Studio to complain. Can a config flag be added that'll help developers adhere to the coding standard they follow?

[2020-04-01 18:29] netbe commented on #126
ok I am wondering if tabs are even needed, as when i look at other adapter, only spaces are used.
@raragod Do you know if eclipse or other editors require tabs?

[2020-04-01 19:11] raragod commented on #126
I'm not sure about the other editors but this is the default formatting setting in Android Studio which follows the Code Style Guide defined for Android by Google: https://source.android.com/devices/architecture/hidl/code-style

[2020-04-07 16:23] dbeleza opened #127 "Google disabled this app"
Hi.
Today I noticed an issue related with Babelish.
After I run `babelish csv2android` and open the generated link, google is presenting this warning:
![image](https://user-images.githubusercontent.com/4144018/78694321-65977700-78f4-11ea-8277-c641270302c3.png)

Do you know how to fix this?

Thanks in advance

[2020-04-08 09:04] netbe commented on #127
@dbeleza can you specifythe version of babelish you're using ?
[code]

0.6.3 normally fixed this issue

[2020-04-09 08:38] AgapovOne commented on #127
After passing this alert from google I do get an auth code, but the script doesn't accept it.

Here is what I get. Everything worked before that.
[code]

[2020-04-15 18:12] dbeleza commented on #127
Hi @netbe,
Sorry for just answering to you now.
I'm using version 0.6.3. And I'm still getting this error from google when I open the generated link.
Thanks for helping me

[2020-04-16 13:47] netbe commented on #127
Hi @dbeleza ,

The app is not verified by Google but it should not stop you to use it normally there is a link to to use anyway in the bottom, see:

![Screenshot 2020-04-16 at 15 43 27](https://user-images.githubusercontent.com/254198/79463477-315d3e00-7ff9-11ea-9fad-735dcdf9b033.png)

![Screenshot 2020-04-16 at 15 43 32](https://user-images.githubusercontent.com/254198/79463536-44700e00-7ff9-11ea

[2020-04-17 15:26] dbeleza commented on #127
You're right! Thanks a lot once again! 🙇‍♂️

[2020-04-17 15:26] #127 closed

[2020-05-18 18:07] andrew-skrypnyk opened #129 "Can't update fastlane due to dependency lock"
Hi team, your are doing awesome tool, thank you!

Recently, when I tried to update Fastlane via Bundler Gems using `bundle update fastlane` to the latest version, but I faced this issue:

[code]

Could you update your dependency or should I solve is somehow in another way?
Thank you in advance ;)

[2020-05-19 20:51] netbe commented on #129
@andrew-skrypnyk yes try 0.6.4 that should fix the issue

[2020-05-21 13:00] andrew-skrypnyk commented on #129
@netbe, still got this:
[code]

[2020-05-22 07:27] ExPl0siF opened #130 "Apostrophe Issue"
First thank you for your project, which is really helpful and time economiser. I have french localization inside my CSV file, and when I just replace the file inside my Android Studio Project it gave me the error: AAPT: error: unescaped apostrophe in string. So after looking, I have to put a backslash before every apostrophe in my translation (\') could you please add it at the "compilation/parsin

[2020-05-25 20:41] netbe commented on #129
@andrew-skrypnyk

[2020-05-29 15:56] scinfu commented on #105
@netbe this problem persists, has it been solved?

[2020-06-08 14:58] netbe commented on #129
@andrew-skrypnyk could you try now, and tell me if that works with 0.6.4. google_drive 3.0.5 was released and should resolved this issue

[2020-06-08 18:32] andrew-skrypnyk commented on #129
yeap, it's ok now. Thank you!

[2020-06-08 18:32] #129 closed

[2020-06-23 07:29] falkorichter commented on #130
we have a workaround:

csv2android.rb:
[code]
I hope to find some time and prepare a pull request these days...

[2020-06-24 08:06] falkorichter opened #135 "docker image not working"
When I run the help I get this error:
[code]

- Docker version 19.03.8, build afacb8b
- OSX 10.15.5 (19F101)

[2020-06-25 13:31] vahotm commented on #111
Shouldn't babelish do this itself automatically?

[2020-06-30 08:32] netbe commented on #111
hi @vahotm,

That could be an improvement indeed

[2020-06-30 08:33] netbe opened #137 "Ask credentials if invalid token"
Babelish could remove the .babbelish.token if invalid and prompt for new token #111

[2020-07-02 11:01] GrzesiekZbozien opened #138 "android2csv: <plurals> are removed"
For android strings.xml it is possible to use plurals:
https://developer.android.com/guide/topics/resources/string-resource#Plurals

But when exporting to CSV this item is missing.

Example:
`<plurals
        name="plural_name">
        <item
            quantity=["zero" | "one" | "two" | "few" | "many" | "other"]

    </plurals>`

And result won't have item with 'plural_name'

It will make sense

[2020-07-05 08:16] netbe commented on #138
Hi @GrzesiekZbozien,

I don't see how to represent plurals into a csv format, that's the issue

[2020-07-06 09:16] GrzesiekZbozien commented on #138
if normal string in csv is represented as key string_name, value-en, value-de, value-fr, etc

What about:
- use plural_name and quantity, so CSV might look like:
`plural_name.zero, value-en, value-de, value-fr, etc,
plural_name.one, value_one-en, value_one-de, value_one-fr, etc,
...
plural_name.other, value_other-en, value_other-de, value_other-fr, etc,`

Also if CSV2Base wouldn't be able to handl

[2020-07-14 04:38] RyanNguyen92 opened #139 "Cannot found client_secret for Android Application when creating OAuth Client Id."
Hi,

I would like to use this library, I just got the issue as bellow, please help to take a look:

- I created web application Client Id from https://console.developers.google.com/apis/credentials and receive the client id and secret key.

But when tries to run 'localize' script via terminal and open the link in browser, then the issue appeared like the image.

I know that we need to create Clien

[2020-08-13 09:09] borut-t commented on #121
Hi @netbe. Some developers are again getting a "temporarily disabled" message without a button to continue. I've tried the same on my end today and I was able to get through. Maybe Google randomly forces users into that state.

Can you take a look and see if some google dependency needs to be updated in order to get rid of that message? As I said, some of our developers are unable to get through t

[2020-08-17 08:02] netbe commented on #121
Hi @borut-t,

I've requested a review from Google to verify the app a while ago so the limit of `user cap (100/100)` could be lifted, and reached out again today, hopefully this will get resolved soon.

[code]

Sorry for the inconvenience

[2020-08-17 08:03] netbe commented on #139
Hi @RyanNguyen92,

Normally you don't have to create a web app client, Babelish has one already, the issue might be related to #121.

[2020-08-24 09:58] borut-t commented on #121
@netbe any news on that?

[2020-09-21 14:55] netbe commented on #121
Hi @borut-t,

Sorry I had no time to work on it. Google asked me a bunch of information including a video showing the app in action which I just made. I hope this is the last requirement to lift the limit and solve this issue.

[2020-09-22 06:20] borut-t commented on #121
Thanks, @netbe. I completely understand your situation. Keeping fingers crossed it will go through this time 🤞
Lmk when you resolve this issue.

[2020-09-25 08:45] netbe commented on #121
Hi @borut-t, I finally got it to work, you'll find a new release 0.6.5

[2020-09-25 08:45] #121 closed

[2020-09-25 08:49] borut-t commented on #121
Thanks @netbe 🎉

[2021-01-05 14:46] GrzesiekZbozien opened #140 "Omit Empty translations CSV2Any"
Hi is there any way to omit empty translations during import?

Example:

`labels.example,Example in Default lang, Other Lang,,,,,,,,,,,`
And to prevent for non translated languages yet:
in iOS:
`"labels.example" = "";`
and Android:
`<string name="labels.example"></string>`

[2021-01-07 09:59] netbe commented on #140
Hi,

You cannot omit, but you can replace empty values by a translated languages value, see option: `default_lang`

https://github.com/netbe/Babelish/blob/137a0f9886d994ce2578a2c7d7c243b609b3f0b4/.babelish.sample#L26

[2021-01-07 10:01] GrzesiekZbozien commented on #140
Thanks for response, I'll check it. Seems like good enough for me.

[2021-01-07 10:03] #140 closed

[2021-02-10 10:35] 4brunu opened #141 "Error while running `babelish csv2android` because of thor dependency"
Hi,

I have an error while running `bundle exec babelish csv2android` because of thor dependency.

[code]

Here is my Gemfile
[code]

Here is my Gemfile.lock
[code]

If I downgrade the dependency `thor` to version 1.0.1 it works.

[2021-02-22 07:59] borut-t commented on #141
I have the same issue. Thanks @4brunu 🙌

[2021-02-22 08:03] borut-t commented on #141
Btw, until this gets merged you can add `gem 'thor', '1.0.1'` to the Gemfile.

[2021-02-22 10:25] 4brunu commented on #141
Thanks for the tip 👍

[2021-02-25 21:06] #141 closed

[2021-03-15 21:23] #139 closed

[2021-09-17 16:39] 4brunu commented on #138
This would be a great addition, another alternative would be something like `plural_name[zero]`.
This idea was taken from https://localazy.com/docs/cli/ios-format#plurals-in-strings

[2021-11-01 12:05] Saulenco opened #143 "Custom CSV2STRINGS -> cannot load such file -- babelish/keys"
Hi, i'm trying to change the csv2strings file because we use same csv on android and ios .

i have updated the `get_row_format` like so:
[code]

and it worked fine till some days back.

what i'm doing wrong ?

1. uninstall previouns babelish `sudo gem uninstall babelish`
2. download new code
3. update the `csv2strings.rb` file
4. build new gem `sudo gem build babelish.gemspec `
5. install new gem

[2021-11-05 11:53] netbe commented on #143
Hello, the token to access google apis is built on CI and is not available that's why you can't build the gem yourself
If you want to continue you will have to create yourself the keys file including a different google_apis access_token.

[2021-12-01 03:14] TienDungDoan opened #144 "can't read text when convert japanese"
I tried to convert file Localized.strings(japanese) to csv using command "strings2csv". It's work but I cant read text in csv. Output is below:
aaa	‰ΩøÁî®Ë®±Ë´æ„Å∏ÂêåÊÑè„ÅÆ„ÅîÁ¢∫Ë™ç
bbb	ÂêåÊÑè„Åó„Å¶ÁôªÈå≤ÁîªÈù¢„Å∏ÈÄ≤„ÇÄ

Because key is english so its ok but value is error. Anybody can tell me what im wrong ???

[2021-12-06 21:32] netbe commented on #144
Hi, can you post your .strings files and config?

[2021-12-06 21:32] #143 closed, assigned to nobody

[2021-12-08 07:53] TienDungDoan commented on #144
Hi, I sent my content in .strings file below and I don't use config file, I just run terminal command "babelish strings2csv --filenames= Localizable.strings"
"aaa" = "戻る";
"bbb" = "作成";
And there is result in .csv file:
<img width="197" alt="Screen Shot 2021-12-08 at 14 52 47" src="https://user-images.githubusercontent.com/13981868/145169782-02f959ec-9776-44f0-9274-c203c4e18fa7.png">

[2021-12-09 15:39] netbe commented on #144
Works fine to me, see console steps below:
![Screenshot 2021-12-09 at 16 38 42](https://user-images.githubusercontent.com/254198/145427193-be0fb79a-5491-4355-b8ba-4c1db6b5a608.png)

[2021-12-09 15:39] netbe commented on #144
What's your operating system? version?

[2021-12-13 02:53] TienDungDoan commented on #144
I'm using Macos Catalina 10.15.4 and babelish version is 0.6.6 .
 And I try to use another computer run Macos BigSur 11.5.2 then I see same error.

[2022-02-14 09:29] jayeshkbackbase opened #145 "Unexpected error: #<Faraday::ConnectionFailed wrapped=#<Net::OpenTimeout: execution expired>>"
i am facing this issue when fire the command "babelish csv2strings". can you please help me to solve this one?

[2022-02-14 16:12] netbe commented on #145
Hello, which version are you using?

[2022-04-01 10:41] alexfr8 opened #146 "Problem with MacOS 12.3 Monterey"
Since I updated my laptop (with python 2) babelish stopped working.

Also tried with the docker container but same results.

Someone with the fix?

[2022-07-15 10:56] Saulenco commented on #146
so i manage to make it work on Monterey what is your output after installing babelish ?

[2022-07-19 14:29] netbe commented on #146
Hello, it should not be linked to python.

[2022-07-19 14:29] #146 closed, assigned to nobody

[2022-07-19 14:30] #145 closed, assigned to nobody

[2022-07-19 14:30] netbe commented on #144
can you please attach the file you're using?

[2022-10-19 08:27] borut-t opened #147 "Google issue"
`Access blocked: This app’s request is invalid`

This is an error when trying to authenticate with google to give access to the spreadsheet.

https://developers.google.com/identity/protocols/oauth2/resources/oob-migration

[2022-10-25 12:51] netbe commented on #147
Yeah looking at the google_drive gem I am not sure they have a quick fix for this.

I did found a post by someone recommending a way to get the authorization code.

https://stackoverflow.com/questions/71318804/google-oauth-2-0-failing-with-error-400-invalid-request-for-some-client-id-but/71491500#71491500

[2022-10-25 12:51] #144 closed, assigned to nobody

[2022-11-23 14:22] borut-t commented on #147
Any news on this end?

[2022-11-24 11:31] rossrossp commented on #147
We are also facing this issue. Has anyone made any progress?